<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mingzi.onenote"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="所有便签"
            android:launchMode="singleTask"
            android:logo="@null"
            android:theme="@style/CustomMianActionBarTheme">
        </activity>
        <activity
            android:name=".activity.OneNotePreferenceActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme">
        </activity>
        <activity
            android:name=".activity.NewNoteActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme">
        </activity>
        <activity
            android:name=".activity.EditActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme">
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:icon="@drawable/search_light"
            android:label="日志搜索"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
        </activity>

        <receiver android:name=".appwidget.AppWidget">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget"/>

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.PhoneViewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.VideoViewerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.SetAlarmActivity"
            android:label="@string/title_activity_set_alarm"
            android:theme="@style/CustomMianActionBarTheme">
        </activity>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:process=":remote">
        </receiver>

        <service android:name=".service.PlayRingtoneService">
            <intent-filter>
                <action android:name="com.mingzi.onenote.service.PlayRingtoneService"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".activity.AlertActivity"
            android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar">
        </activity>
        <activity
            android:name=".activity.SelectFileActivity"
            android:label="附件"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
        </activity>
        <activity
            android:name=".activity.ViewNoteActivity"
            android:label="查看"
            android:theme="@android:style/Theme.Holo.NoActionBar">
        </activity>
        <activity android:name=".activity.IsLockActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LockActivity"
            android:launchMode="singleInstance">
        </activity>
    </application>

</manifest>
